<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chatapp</title>

</head>

<body>
    <h2>All Chats</h2>
    <form action="/chats/new" method="get">
        <button >New Chat</button>
    </form>
    <br>
    <% chatData.forEach(chat=> { %>
        <div class="chat">
            <p>From : <i><%= chat.from %></i> </p>
            <p>To : <i><%= chat.to %></i>   </p>
            <p class="msg">Message: <%= chat.msg %> </p>
            <span>
                <p>Date : <%= chat.created_at.toLocaleDateString() %> Time : <%= chat.created_at.toLocaleTimeString() %>  </p>

            </span>

            <div>
                <span>
                    <form action="/chats/ <%= chat._id %>/edit" method="get">
                        <button>Edit</button>
                    </form>
                    
                    <button>Delete</button>
                </span>
            </div>
            
        </div>
        <br><br>
        
        <% }) %>
</body>

</html>